docopt==0.6.2
aiohttp==2.1.0
asyncio==3.4.3
Logbook==1.0.0
pytest==3.0.2
requests==2.10.0
sortedcontainers==1.5.2
ujson==1.35
python_dateutil==2.6.0
uvloop==0.5.3
websockets==3.2
jupyter==4.3.0
plotly==2.0.10
